
.alert {
  padding: 20px;
  background-color: #4ffa0b;
  color: rgb(0, 0, 0);
  margin: 2%;
  border-radius: 30px;
}

.alert2{
    padding: 20px;
  background-color: #f8472f;
  color: rgb(0, 0, 0);
  margin: 2%;
  border-radius: 30px;
}

.closebtn {
  margin-left: 15px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}